
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fotos-perfil{
    transform: scale(1.3);
     color: #F5F5DC;
}

h1{
    animation: fadeInUp 1s ease-out; 
}

