@keyframes animacaoSubTitulo {
    0% {
        opacity: 0%;
        transform: rotateY(-30px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0);
    }

}

.subtitulo h3{
    opacity: 0;
    animation: animacaoSubTitulo 2.5s ease-out forwards;
}