body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(114, 47, 55);
  color: white;
  padding: 15px;
  text-align: center;
  font-family: Helvetica;
  font-size: 50px;
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  padding-top: 10px;
  padding-inline: 200px;
  font-size: 25px;
}

a {
  padding: 25px;
  text-decoration: none;
  color: white;
}

header a:hover {
  color: rgb(114, 47, 55);
  background-color: #f4f4f4;
}

.apresentacao {
  height: 600px;
  border-top: 10px solid rgb(97, 40, 46);
  color: #f4f4f4;
  background-color: rgb(97, 40, 46);
  text-decoration: rgb(244, 244, 244);
}

.apresentacao article {
  margin-left: 100px;
}

.apresentacao article h1 {
  font-size: 50px;
  text-align: center;
}

.apresentacao article h2 {
  font-size: 30px;
  text-align: center;
}

.apresentacao article p {
  margin-top: 100px;
  margin-left: 80px;
  font-size: 18px;
  width: 500px;
}

.triangulo {
  width: 0;
  height: 0;
  border-left: 700px solid transparent;
  border-right: 700px solid transparent;
  border-top: 90px solid rgb(97, 40, 46);
  position: absolute;
  top: 729.3px;
}

.chamadaCadastro {
  margin-top: 100px;
}

/* preciso arrumar contato para a aba de contatos grudado na tela*/
.contatos {
  position: sticky;
  color: aqua;
}
