body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #e0d4b8;
  color: #333;
}

header {
  background-color: #722f37;
  color: white;
  padding: 15px;
  text-align: center;
  font-family: Helvetica;
  font-size: 50px;
  margin-bottom: 55px;
}


header .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
}


.nav-link {
  margin-top: 15px;
  margin-left: 170px;
}
.nav-link ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-link ul li {

  margin-right: 15px;
}

.nav-link ul li a {
  text-decoration: none;
  color: #ffff;
}

.nav-link ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  padding-top: 10px;
  padding-inline: 200px;
  font-size: 25px;
}

div{
  text-align: center;
  font-size: 20px;
}

h1,
h2 {
  margin: 0;
}

main {
  padding: 20px;
}

.Contato-Informacoes,
.Enviar-Mensagem {
  margin-bottom: 30px;
  background: #fff;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

button {
  background-color: #722F37;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #3b181c;
}

footer table{
  padding-left: 410px;
  text-align: center;
  font-family: Helvetica;
  font-size: 15px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #722F37;
  color: #fff;
}


