body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;
}

header {
    background-color: #722f37;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Helvetica;
    font-size: 50px;
    margin-bottom: 55px;
    position: relative; 
    overflow: hidden;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding-top: 10px;
    padding-inline: 205px;
    font-size: 25px;
}

ul li:nth-child(odd) a {
    font-style: italic;
}

div{
    text-align: center;
    font-size: 20px;
}

h1,
h2 {
    margin: 0;
}

main {
    padding: 20px;
}

.Contato-Informacoes,
.enviar-Mensagem {
    margin-bottom: 30px;
    margin-inline: 20px;
    background: #fff;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

button {
    background-color: #722F37;
    margin-left: 150px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

button:hover {
    background-color: #3b181c;
    transform: scale(1.05); 
}

button:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(114, 47, 55, 0.7); 
    transform: translateY(-2px); 
}


footer{
    background-color: #722f37;
    color: white;
    padding: 20px 0;
}

footer table{
    padding-left: 550px;
    text-align: center;
    font-family: Helvetica;
    font-size: 15px;
}

footer p{
    text-align: center;
    font-size: 15px;
}

.link {
    color: #0000FF;
    transition: color 0.3s ease; 
}

.link:hover {
    color: #008000; 
}


#contatos {
    animation: fadeInUp 1s ease-out; 
}

::selection {
    background-color: #3b181c;
    color: white;
}